<!-- show on large and medium screens -->
<div class="col-md-4 hidden-sm hidden-xs">
  <%= link_to 'https://www.ardc.edu.au/', class: 'funder-logo', target: '_blank' do %>
    <%= image_tag 'supporters/ARDC-Logo.png', title: 'Australian Research Data Commons' %>
  <% end %>
</div>
<div class="col-md-4 hidden-sm hidden-xs">
  <%= link_to 'https://www.nci.org.au/', class: 'funder-logo', target: '_blank' do %>
    <%= image_tag 'supporters/NCI-Australia-Logo-Inverted.png', title: 'National Computational Infrastructure Australia' %>
  <% end %>
</div>
<div class="col-md-4 hidden-sm hidden-xs">
  <%= link_to 'https://www.pawsey.org.au/', class: 'funder-logo', target: '_blank' do %>
    <%= image_tag 'supporters/Pawsey-Logo.png', title: 'Pawsey Supercomputing Research Centre' %>
  <% end %>
</div>
